@charset "UTF-8";

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");    
}



body {
    background-color: hsl(0, 0%, 8%);
    padding-top: 5%;
  
}

h1, h2, p, li {
    text-align: center;
}


main {
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    border-radius: 10px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 1px 1px  1px rgba(0, 0, 0, 0.315);

}

main > h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    text-shadow: 2px 2px  2px rgb(0, 0, 0);

}

main > h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 0.7em;
    color: hsl(75, 94%, 57%);

}

main > p {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 0.875em;
    margin-top: 30px;
}

main img {
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    
}

nav a {
    display: block;
    font-family: 'Iter', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    padding: 15px;
    margin: 20px 40px;
}

nav a:hover {
    background-color: hsl(75, 94%, 57%);
    color: rgb(73, 73, 73);
    transition-duration: 1s;
}
