@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: hsl(47, 88%, 63%);
    padding: 5% 10px 5% 10px;

}

main {
    max-width: 400px;
    width: 90%;
    height: 600px;
    justify-content: center;
    align-content: center;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 10px 0px black;
}

main article > img {
    display: block;
    max-width: 90%;
    padding: 20px;
    border-radius: 40px;
    margin: auto;
}

main h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    max-width: 50px;
    margin-left: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: hsl(47, 88%, 63%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281); 
}

main p.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: lighter;
    color: black;
    padding: 5px;
    padding-left: 30px;
}

main h1 {
    font-family: "Figtree", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 30px;

}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

main article > p {
    color: hsl(0, 0%, 42%);
    padding-left: 30px;
    text-align: left;
    letter-spacing: 0.8px;
}

footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 33px;
    padding-top: 20px;
}

footer img {
    max-height: 40px;
}

footer > p {
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    font-size: 0.6em;
    
}
