@charset "UTF-8";

/* Mobile */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Fundo-cor: white;
  --Fundo-Neutro: hsl(221, 100%, 96%);
  --Fundo-Reaction: hsla(0, 100%, 67%, 0.062);
  --Fundo-Memory: hsla(39, 100%, 56%, 0.062);
  --Fundo-Verbal: hsl(166, 100%, 37%, 0.062);
  --Fundo-Visual: hsl(234, 85%, 45%, 0.062);
  --Gradiente1-result: hsl(252, 100%, 67%);
  --Gradiente2-result: hsl(241, 81%, 54%);
  --Neutro-result: hsl(241, 100%, 89%);
  --Neutro-summary: hsl(224, 30%, 27%);
  --Gradiente1-circle: hsla(256, 72%, 46%, 1);
  --Gradiente2-circle: hsla(241, 72%, 46%, 0);
  --Fonte-Reaction: hsl(0, 100%, 67%);
  --Fonte-Memory: hsl(39, 100%, 56%);
  --Fonte-Verbal: hsl(166, 100%, 37%);
  --Fonte-Visual: hsl(234, 85%, 45%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.results-card {
  display: flex;
  flex-direction: column;
  background-color: var(--Fundo-cor);
  line-height: 1.5;
}

/* RESULT PANEL */
.result-panel {
  flex: auto;
  height: auto;
  min-height: 290px;
  background-image: linear-gradient(var(--Gradiente1-result), var(--Gradiente2-result));
  border-radius: 0 0 50px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.result-panel__title {
  align-self: center;
  padding: 20px;
  font-size: 0.9em;
  color: var(--Neutro-result);
}

.score-circle {
  width: 100px;
  height: 100px;
  align-self: center;
  padding: 20px;
  border-radius: 50%;
  background-image: linear-gradient(var(--Gradiente1-circle), var(--Gradiente2-circle));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-circle__value {
  font-size: 2em;
  color: var(--Fundo-cor);
  font-weight: 800;
  line-height: 1;
}

.score-circle__total {
  color: var(--Neutro-result);
  font-size: 0.8em;
}

.result-panel__headline {
  color: var(--Fundo-cor);
  font-size: 1.5em;
  font-weight: 500;
}

.result-panel__description {
  font-size: 1.125em;
  color: var(--Neutro-result);
  margin: 0 50px;
}

/* SUMMARY PANEL */
.summary-panel {
  flex: auto;
  background-color: var(--Fundo-cor);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.summary-panel__title {
  color: var(--Neutro-summary);
  font-size: 1em;
  font-weight: 800;
  padding: 10px;
  margin-left: 30px;
}

.summary-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.summary-item {
  display: flex;
  margin: 10px 40px;
  padding: 7px;
  justify-content: space-between;
  border-radius: 5px;
}

.summary-item__label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.summary-item__name {
  font-weight: 500;
}

.summary-item__score {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 500;
}

.summary-item__score-value {
  color: var(--Neutro-summary);
}

.summary-item__score-total {
  color: var(--Neutro-result);
}

.summary-item--reaction {
  background-color: var(--Fundo-Reaction);
}
.summary-item--reaction .summary-item__name {
  color: var(--Fonte-Reaction);
}

.summary-item--memory {
  background-color: var(--Fundo-Memory);
}
.summary-item--memory .summary-item__name {
  color: var(--Fonte-Memory);
}

.summary-item--verbal {
  background-color: var(--Fundo-Verbal);
}
.summary-item--verbal .summary-item__name {
  color: var(--Fonte-Verbal);
}

.summary-item--visual {
  background-color: var(--Fundo-Visual);
}
.summary-item--visual .summary-item__name {
  color: var(--Fonte-Visual);
}

/* BUTTON */
.summary-panel__button {
  width: 100%;
  max-width: 315px;
  font-weight: 800;
  font-size: 1.125rem;
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--Fundo-cor);
  background-color: var(--Neutro-summary);
  padding: 20px;
  border-radius: 40px;
  margin: 30px auto 0;
  border: none;
}

.summary-panel__button:hover {
  cursor: pointer;
}

/* LANDSCAPE */

@media (max-height: 450px) and (orientation: landscape) {
  .result-panel {
    min-height: 200px;
    border-radius: 0 0 30px 30px;
  }

  .result-panel__description {
    margin: 0 20px;
    font-size: 1rem;
  }

  .summary-panel__button {
    margin-top: 12px;
    padding: 14px;
  }
}
