@charset "UTF-8";

/*768px – 992px*/

@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
    }

    #result {
        height: 100px;
        width: 100px;
    }

    #summary {
        height: 100px;
        width: 100px;
    }
}