@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* Mobile First */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(212, 21%, 14%);
  --Background-Body: hsl(30, 38%, 92%);

  --Grey: hsl(228, 12%, 48%);
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
}

body {
  background-color: var(--Background-Body);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product-card {
  margin: 20px;
  border-radius: 10px;
  background-color: var(--White);
  max-width: 350px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.164);
  overflow: hidden;
}

.product-card__image {
  margin: 0;
}

.product-card__image img {
  width: 100%;
  height: 47vh;
  display: block;
  object-fit: cover;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card__description {
  font-family: "Montserrat", sans-serif;
}

.product-card__category {
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 4px;
  color: var(--Grey);
  padding-bottom: 10px;
}

.product-card__title {
  font-weight: 700;
  font-family: "Fraunces", serif;
  padding-bottom: 10px;
  color: var(--Black);
}

.product-card__text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: var(--Grey);
  padding-bottom: 20px;
  line-height: 1.5;
}

.product-card__pricing {
  font-family: "Fraunces", serif;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 12px;
}

.product-card__price--current {
  color: var(--Green-500);
  font-weight: 700;
  font-size: 2em;
}

.product-card__price--old {
  color: var(--Grey);
  font-size: 0.8em;
}

.product-card__button {
  width: 100%;
  color: var(--White);
  background-color: var(--Green-500);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 12px;
  margin-top: auto;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.411);
  transition: background-color 0.8s;
}

.product-card__button:hover {
  cursor: pointer;
  background-color: var(--Green-700);
}

.product-card__button i {
  margin-right: 0;
}
